@model VCNNetworkEquipment.Models.Product
@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div id="allpage-thanks">
    <div id="thanks">
        <div class="text-center" style="margin-top: 130px">
            <p>
                <h1 class="display-4">The item <span style="color:#e9573e">@Model.Name</span> has been added successfully</h1>
            <p class="lead" style="text-decoration:underline">This is the details about the item:</p>
            <h2>ID: @Model.ProductID</h2>
            <h2>Price: @Model.Price?.ToString("c")</h2>
            <h2>Year: @Model.Year</h2>
            <h2>Category: @Model.Category</h2>
            <h2>Shipment: @Model.FreeShip</h2>
            <h2>Description: @Model.Description</h2>
            <br /><br />
            <h2 style="font-weight:300"> Click <a asp-action="List">here </a>to view all products</h2>
        </div>
    </div>
</div>

